// ==========================================================================

// Consume for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================

.consume-provider {
    display: flex;
    align-items: center;

    --size: 22px;
    --padding: 5px;
    --border-radius: 4px;
    --margin: 7px;
}

.consume-provider-icon {
    height: var(--size);
    width: var(--size);
    min-width: var(--size);
    line-height: var(--size);
    background-color: var(--bg-color);
    color: #fff;
    border-radius: var(--border-radius);
    margin-right: var(--margin);
    padding: var(--padding);

    svg {
        width: 100%;
        height: 100%;
    }
}


// ==========================================================================
// Client Single
// ==========================================================================

.consume-pane,
.consume-settings-block {
    padding: 16px;
    background: #f3f7fc;
    border-radius: 3px;
    border: 1px solid #cbd6e2;
    margin-bottom: 24px;

    ul {
        list-style-type: disc;
    }

    ol, ul {
        padding-left: 20px !important;
    }

    &.consume-pane-error {
        background: #fcf3f3;
        border: 1px solid #e2cbcb;
    }
}