{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% include 'consume/clients/oauth/_oauth' %}

<hr>

{% set grant = client.grant ?? 'authorization_code' %}

{{ macros.proxyField(fieldVariables, 'selectField', {
    label: 'Grant' | t('consume'),
    instructions: 'Select the type of OAuth Grant to use.' | t('consume'),
    name: 'grant',
    required: true,
    value: client.grant ?? '',
    options: [
        { label: 'Authorization Code' | t('consume'), value: 'authorization_code' },
        { label: 'Client Credentials' | t('consume'), value: 'client_credentials' },
        { label: 'Password' | t('consume'), value: 'password' },
    ],
    toggle: true,
    targetPrefix: '.oauth-settings-',
    warning: macros.configWarning("clients.#{client.handle}.grant", 'consume'),
    errors: client.getErrors('grant'),
}) }}

<div class="oauth-settings-password {% if grant != 'password' %}hidden{% endif %}">
    {{ macros.proxyField(fieldVariables, 'autosuggestField', {
        label: 'Username' | t('consume'),
        instructions: 'Enter the {label} for this provider.' | t('consume'),
        name: 'username',
        required: true,
        suggestEnvVars: true,
        value: client.username ?? '',
        warning: macros.configWarning("clients.#{client.handle}.username", 'consume'),
        errors: client.getErrors('username'),
    }) }}

    {{ macros.proxyField(fieldVariables, 'autosuggestField', {
        label: 'Password' | t('consume'),
        instructions: 'Enter the {label} for this provider.' | t('consume'),
        name: 'password',
        required: true,
        suggestEnvVars: true,
        value: client.password ?? '',
        warning: macros.configWarning("clients.#{client.handle}.password", 'consume'),
        errors: client.getErrors('password'),
    }) }}
</div>

<div class="oauth-settings-authorization_code {% if grant != 'authorization_code' %}hidden{% endif %}">
    {{ macros.proxyField(fieldVariables, 'autosuggestField', {
        label: 'Authorization URL' | t('consume'),
        instructions: 'Enter the {label} for this provider.' | t('consume'),
        name: 'authorizationUrl',
        required: true,
        suggestEnvVars: true,
        value: client.authorizationUrl ?? '',
        warning: macros.configWarning("clients.#{client.handle}.authorizationUrl", 'consume'),
        errors: client.getErrors('authorizationUrl'),
    }) }}
</div>

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'Token URL' | t('consume'),
    instructions: 'Enter the {label} for this provider.' | t('consume'),
    name: 'tokenUrl',
    required: true,
    suggestEnvVars: true,
    value: client.tokenUrl ?? '',
    warning: macros.configWarning("clients.#{client.handle}.tokenUrl", 'consume'),
    errors: client.getErrors('tokenUrl'),
}) }}

{{ macros.proxyField(fieldVariables, 'autosuggestField', {
    label: 'API URL' | t('consume'),
    instructions: 'Enter the {label} for this provider.' | t('consume'),
    name: 'url',
    suggestEnvVars: true,
    required: true,
    value: client.url ?? '',
    warning: macros.configWarning("clients.#{client.handle}.url", 'consume'),
    errors: client.getErrors('url'),
}) }}
