{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{{ forms.autosuggestField({
    label: 'URL' | t('consume'),
    instructions: 'Enter the URL for your endpoint.' | t('consume'),
    name: 'url',
    suggestEnvVars: true,
    required: true,
    value: client.url ?? '',
    warning: macros.configWarning("clients.#{client.handle}.url", 'consume'),
    errors: client.getErrors('url'),
}) }}

{% set queryParams = [] %}

{% for key, value in client.queryParams %}
    {% set queryParams = queryParams | merge([{ key: key, value: value }]) %}
{% endfor %}

{{ forms.editableTableField({
    label: 'Query String' | t('consume'),
    instructions: 'Provide any parameters for the query string.' | t('consume'),
    id: 'queryParams',
    name: 'queryParams',
    cols: {
        key: {
            type: 'autosuggest',
            heading: 'Key' | t('consume'),
            width: '25%',
            suggestEnvVars: true,
        },
        value: {
            type: 'autosuggest',
            heading: 'Value' | t('consume'),
            suggestEnvVars: true,
        },
    },
    rows: queryParams,
    addRowLabel: 'Add an option' | t('consume'),
    warning: macros.configWarning("clients.#{client.handle}.queryParams", 'consume'),
    errors: client.getErrors('queryParams'),
    allowAdd: true,
    allowDelete: true,
    allowReorder: true,
}) }}

{% set headers = [] %}

{% for key, value in client.headers %}
    {% set headers = headers | merge([{ key: key, value: value }]) %}
{% endfor %}

{{ forms.editableTableField({
    label: 'Headers' | t('consume'),
    instructions: 'Provide any parameters for the request header.' | t('consume'),
    id: 'headers',
    name: 'headers',
    cols: {
        key: {
            type: 'autosuggest',
            heading: 'Key' | t('consume'),
            width: '25%',
            suggestEnvVars: true,
        },
        value: {
            type: 'autosuggest',
            heading: 'Value' | t('consume'),
            suggestEnvVars: true,
        },
    },
    rows: headers,
    addRowLabel: 'Add an option' | t('consume'),
    warning: macros.configWarning("clients.#{client.handle}.headers", 'consume'),
    errors: client.getErrors('headers'),
    allowAdd: true,
    allowDelete: true,
    allowReorder: true,
}) }}

{% set httpAuth = [client.httpAuth] %}

{{ forms.editableTableField({
    label: 'HTTP Authentication' | t('consume'),
    instructions: 'If using Basic HTTP Authentication, provide the Username and Password for the provider.' | t('consume'),
    id: 'httpAuth',
    name: 'httpAuth',
    cols: {
        username: {
            type: 'autosuggest',
            heading: 'Username' | t('consume'),
            suggestEnvVars: true,
        },
        password: {
            type: 'autosuggest',
            heading: 'Password' | t('consume'),
            suggestEnvVars: true,
        },
    },
    rows: httpAuth,
    addRowLabel: 'Add an option' | t('consume'),
    warning: macros.configWarning("clients.#{client.handle}.httpAuth", 'consume'),
    errors: client.getErrors('httpAuth'),
    allowAdd: false,
    allowDelete: false,
    allowReorder: false,
}) }}
